* {
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0;
  padding: 0;
  
}

body {
  background: radial-gradient(#1f3756, #141539);
  box-sizing: border-box;
}

.container {
  max-width: 43.7rem;
  margin: 0 auto;
  height: 43.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1.1rem;
  margin: 1.8rem .6rem ;
  
}
.logo{
  width: 10rem;
}
.score {
  background: white;
  width: 8.5rem;
  height: 6.25rem;
  color: #141539;
  border-radius: 10px;
  text-align: center;
  padding: 0.5rem;
}

.score-title {
  margin-top: 0.3rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #1f3756;
}

.score-number {
  font-size: 4rem;
  font-weight: bold;
  color: hsl(229, 25%, 31%);
  margin-top: 0.3rem;
}

main {
  background-image: url(./images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 28.1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.cima {
  display: flex;
  justify-content: center;
  gap: 5rem;
  width: 100%;
}

.baixo {
  margin-bottom: 3.1rem;
}

.game {
  width: 6.875rem;
  height: 6.875rem;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: solid 15px;
}
.game img{
  width: 3.1rem;
}
.rock {
  /* margin: -40px 0 0 280px; */
  border-color: hsl(349, 71%, 52%);
  box-shadow: inset 0px .6rem 0px 0px rgba(0, 0, 0, 0.16),
    0px 6px 0px 0px hsla(349, 65%, 46%, 0.9);
}

.paper {
  border-color: hsl(230, 89%, 62%);
  box-shadow: inset 0px .6rem 0px 0px rgba(0, 0, 0, 0.16),
    0px 6px 0px 0px hsla(230, 92%, 59%, 0.9);
}
.scissors {
  border-color: hsl(39, 89%, 49%);
  box-shadow: inset 0px .6rem 0px 0px rgba(0, 0, 0, 0.16),
    0px 6px 0px 0px hsla(39, 87%, 41%, 0.9);
}
.rules {
  width: 7.7rem;
  height: 2.5rem;
  position: absolute;
  right: 35px;
  bottom: 15px;
    /* padding: 10px 40px; */

  /* padding: 10px 40px; */
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: aliceblue;
  background-color: #141539;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
}

.rules:hover {
  background-color: #1f3756;
  transition: 500ms;
}

.attribution {
  font-size: 1rem;
  text-align: center;
}

.attribution a {
  color: white;
}

.modal {
  background-color: #fff;
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  width: 400px;
  height: 400px;
}

.open {
  display: block;
}

@media (max-width: 720px) {
    html{
      font-size: 87.5%; /*14px*/
    }
    
  }

@media (max-width: 1080px) {
  html{
    font-size: 93.75%; /* 15px*/
  }
  }
@media (max-width: 450px){
  html{
    font-size: 75%;
  }
  main{
    /* margin-top: 5rem; */
    background-size: 19rem;
  }
  .rules{
    position:static;
    height: 41px;
    width:124px;
    align-self: center;
    font-size: 110%;


  }
  .attribution{
    font-size: 1.5rem;
  }
}
